body{
    margin:0;
    padding:0;
}
.mainBackground{
width:100%;
height:100%;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
display:block;
justify-content:center;
margin:0;
border:0;
padding:0;
position:fixed;
}
.container{
    background:transparent; 
    display:flex;
    align-items:center;
    position:fixed;
    top:50%;
    left:50%;
    width:1000px;
    height:550px;
    margin-top:-375px;
    margin-left:-500px;
    box-shadow:0 2px 2.5px;
    border: 2px solid black;

}
.Arrow{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;

}
.Arrow:hover {
    background:#eededd;
    cursor: pointer;
}
.secondArrow{
    transform: rotate(0.5turn);
    cursor:pointer;

}
.centerPicture{
    position: relative;
    width: 900px;
    height: 550px;
}

.gray-container{
    position:absolute;
    bottom:0px;
    width: 900px;
    min-height: 100px;
    background:black;
    opacity: 0.3;
    margin:0;
    padding:0;
    line-height:50%;
    display:none;

}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    color:white;
    margin-left:30px; 
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    color:white;
    margin-left:5px;

}
#photo{
    object-fit:cover;
    width: 900px;
    height: 550px;
}
#thumbContainer{
    display:flex;
    justify-content: center;
    margin-top:700px;
    margin-left:10%;
    margin-right:10%;
    min-height:100px;
    min-width:100px;
}
.thumb{
    width: 90px;
    height: 90px;
    border: 2px solid silver;
    border-radius: 3px;
    object-fit: cover;
    margin: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.034), 0 3.7px 5.3px;
    cursor:pointer;
}
.centerPicture:hover .gray-container{
    display: block;
}
